@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --bg-color-200:hsl(214, 25%, 3%);
  --bg-color-200-75:hsla(214, 25%, 11%, 0.85);
  --bg-color-400:hsl(214, 20%, 16%);

  --text-color:hsl(215, 25%, 90%);

  --accent-color-200:hsl(24, 43%, 7%);
  --accent-color-400:hsl(2, 86%, 56%);
  --accent-color-500:hsl(0, 100%, 78%);

  --txt-heading: "Bebas Neue", sans-serif;
  --txt-base: "Nunito Sans", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color-200);
  color: var(--text-color);
  font-family: var(--txt-base);
  line-height: 1.5;
  padding: 2rem;
}

h1,
h2,
h3 {
  font-family: var(--txt-heading);
}

img {
  width: 14rem; 
  border:0.2rem solid var(--accent-color-400); /* grosor estilo color */
  border-radius: 2rem;
  filter: grayscale(100%);
}

img:hover {
  border:0.2rem solid var(--accent-color-500);
  filter: grayscale(0%);
  cursor: pointer;
}

/* Modelo de caja */
.boxmodel {
  background-color: var(--bg-color-400);
  border: 0.2rem solid var(--accent-color-400);
  border-radius: 1rem;
  width: 12rem;
  height: 12rem;
  padding: 2rem; /* 12+4+0.2*/

  margin: 3rem; /*margen contínuo de 3rem todo alrededor*/

  margin: 3rem 1rem; /* Top y Bottom, left y right */

  margin: 3rem 1rem 2rem; /* Top, left y right, bottom */

  margin: 1rem 2rem 3rem 4rem; /* top, right, bottom, left */

  margin: 3rem auto 1rem;

  width: min(64rem, 100%);

  box-sizing: border-box;
}

/* .content-box {
  box-sizing: content-box; /* padding, border y width/height modifican el tamaño final del elemento 
}

.border-box {
  box-sizing: border-box; /* padding, border y width/height NO modifican el tamaño final del elemento 
} */

ul {
  background-color: var(--bg-color-400);
  list-style: none;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: wrap;
}

li {
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--accent-color-400);
  border-radius: 0.5rem;
  
}

/* Flexbox */
.contenedor-flex {
  background-color: var(--bg-color-400);
  padding: 1rem;
  box-sizing: border-box;

  height: 25rem;

  display: flex; /* Activa el flex dentro del contenedor */
  flex-direction: row; /* Eje principal del contenedor */
  justify-content: space-evenly; /* Controla el eje principal */
  align-items: stretch; /* Controla el eje secundario */
  gap: 1rem; /* distancia entre elementos */
}

.item {
  border: 0.2rem solid var(--accent-color-400);
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}

/* Ejemplo de sección bienvenida */
#bienvenida {
  margin-top: 3rem;
  min-height: 45rem;
  background-image: url('../img/bienvenida.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.contenedor-bienvenida {
  background-color: var(--bg-color-200-75);
  padding: 2rem 1rem;
}

.contenedor-bienvenida h1,
.contenedor-bienvenida p {
  margin: 0;
}

/* Grid */
/* .contenedor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

  Tamaño fijo primero
  Después repeat
  Después fracciones
  Luego auto-fit
  Luego minmax
} */

.contenedor-grid {
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
}

/* Vínculos */

/* clamp() */