@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --bg-color-200:hsl(214, 25%, 3%);
  --bg-color-200-75:hsla(214, 25%, 11%, 0.90);
  --bg-color-400:hsl(214, 20%, 16%);

  --text-color:hsl(215, 25%, 90%);

  --accent-color-200:hsl(24, 43%, 7%);
  --accent-color-400:hsl(2, 86%, 56%);
  --accent-color-500:hsl(0, 100%, 78%);

  --txt-heading: "Bebas Neue", sans-serif;
  --txt-base: "Nunito Sans", sans-serif;

  --contenedor-sz: min(64rem, 100%);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: -4000px;
  left: -4700px;
}

body {
  background-color: var(--bg-color-200);
  color: var(--text-color);
  font-family: var(--txt-base);
  line-height: 1.5;
}

header,
footer {
  background-color: var(--bg-color-400);
}

header {
  position: sticky;
  top: 0;
  z-index: 998;
}

h1,
h2 {
  font-family: var(--txt-heading);
  font-weight: 500;
}

footer h1 {
  font-size: 1.5rem;
}

/* Estilos para el Header */
.contenedor-header {
  width: var(--contenedor-sz);
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.contenedor-header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header h1 {
  color: var(--accent-color-400);
}

/* Menú principal y toggle */
.menu-btn {
  background: none;
  border: none;
  padding: 0.5rem;
  width: 2.5rem;
  aspect-ratio: 1;
  background-image: url('../img/menu-lg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 999;
}

.menu-btn[aria-expanded="true"] {
  background-image: url('../img/close.svg');
}

.primary-navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 65vw;
  transform: translateX(+100%) translateY(0%);
  transition: transform 350ms ease-out;
  background-color: var(--bg-color-200-75);
}

@supports (backdrop-filter: blur(1em)) {
  .primary-navigation {
    background: none;
    backdrop-filter: blur(2em);
  }
}

@supports (-webkit-backdrop-filter: blur(1em)) {
  .primary-navigation {
    -webkit-backdrop-filter: blur(2em);
  }
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%) translateY(0%);
}

.fantasma {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 997;
}




/* Estilos para las secciones */
section {
  width: var(--contenedor-sz);
  padding: 2rem;
  margin: 0 auto;
}

#bienvenida {
  display: none;
}

/* Catálogo homepage */
.contenedor-catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 2rem 1.5rem;
}

.contenedor-catalogo article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;
}

.contenedor-article-btn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contenedor-catalogo img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 5;
}

.btn-outline {
  font-family: var(--txt-base);
  font-size: 1rem;
  background: none;
  border: 0.2rem solid var(--accent-color-400);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.btn-outline:hover {
  background-color: var(--accent-color-400);
  cursor: pointer;
}

.btn-fill {
  font-family: var(--txt-base);
  font-size: 1rem;
  background-color: var(--accent-color-400);
  border: 0.2rem solid var(--accent-color-400);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.btn-fill:hover {
  background-color: var(--accent-color-500);
  border: 0.2rem solid var(--accent-color-500);
  cursor: pointer;
}

/* Estilos para el footer */
.contenedor-footer {
  width: var(--contenedor-sz);
  
  padding: 2rem;
  margin: 0 auto;

  display: grid;
  gap: 1rem;
}

.contenedor-footer ul {
  list-style: none;
}

.contenedor-footer p {
  justify-self: end;
}

/* Quienes somos */
#quienes-somos {
  min-height: 75vh;
}

#quienes-somos img {
  display: none;
}

/* Regla para pantallas y ancho HASTA 768px */
@media screen and (min-width:768px) {

  #quienes-somos img {
    display: inline-block;
    width: 100%;
  }

  .contenedor-header {
    flex-direction: row;
  }  

  #bienvenida {
    border: none;
    padding: 0;
    min-height: 32rem;
    background-image: url('../img/bienvenida.png');
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .contenedor-bienvenida {
    background-color: var(--bg-color-200-75);
    padding: 2rem 1rem;
  }

  .contenedor-bienvenida h1 {
    color: var(--accent-color-400);
  }

  .contenedor-footer {
    grid-template-columns: repeat(3, 1fr);
  }

  .contenedor-footer p {
    align-self: end;
  }
}